.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}


#home-name {
  font-family: serif;
  color: rgb(255, 0, 0);
  text-align :center
}

link{
  cursor: pointer;
}

a {
  color: #FFF;
}
a:hover {
  font-weight: bold;
}

.NavBar-container{
  height: 160px;
  background-color:  black;
  color: white;
}

.movieContainer {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.singleImage:hover{
  transform: scale(1.5);
}
.singleImage img{
  border-radius: 5px;
}

.genre{
  width: 1080px;
  text-align: left;
}

.childrenMovies, .horrorMovies, .romanceMovies, .thrillerMovies
{
  width: 1080px;
  display:flex;
  align-items: center;
  text-align: center;
  margin: auto auto 20px auto;
}


.popup {
  width: 800px;
  height: 500px;
  box-shadow: 0 8px 6px -6px black;
  border: 1px;
  border-radius: 10px;
  position: fixed;
  top: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffffe5;
  padding: 0;
}

.popup img{
  width: 300px;
  height: 380px;
  border-radius: 5px;
  margin: auto 10px auto auto;
}



.smallImage:hover{
  cursor: pointer;
} 

.movieTitle {
  width: 100%;
  height:20%;
  background-color: rgba(0, 0, 0, 0.419);
  margin: 0;
  color: black;
}

.movieInfo{
  display: flex;
  margin: 20px;
  text-align: left;
}

#plot {
  margin: 10px;
  height: 180px;
}

.trailerBtn{
  text-align: center;
}

.▶{
  margin: 0 auto;
  width: 250px;
  padding: 10px 0 10px 0;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 10px;
}

.▶:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.378);
}



.singleMovieContainer img{
  width: 100%;
  height: 400px;
}

.trailer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(67, 66, 66);
  align-items: center;
}

.trailer-container h1{
  margin-left:0;
  left:10px;
}

.trailer-container img{
  width:300px;
  height: 400px;
  margin: 20px;
}

.posterVid-container{
  width: 1100px;
  height: 480px;
}

.title {
  width: 1040px;
}
.trailerVid {
  margin:20px
}

.save-container{
  display: flex;
  width: 1100px;
}
.save{
  width: 180px;
  height: 20px;
  padding: 5px 0 5px 0;
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 190px;
  left: 980px;
}

.save:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.378);
}


.footer{
  width:100%;
  margin-top: 20px;
  background-color: black;
  padding-bottom: 30px;
}
.commentForm-container{
  display: flex;
  flex-direction: column;
  width: 1050px;
  background-color: black;
  color: white;
  margin: auto;
}

.commentForm-container form{
  background-color: black;
  color: white;
}

.comment-input{
  margin-top: 10px;
  width: 950px;
  height: 2em;
}

.comment-submit {
  padding: 6px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color:white;
  
}

.comment-container{
  text-align: left;
  margin-left: 20px;
}

/* .comment-container p{
  border-bottom: 1px solid white;
} */

.showComments {
  display: flex;
  flex-direction: column;
}

.commentName{
  margin: 10px 10px 0 0;
  font-weight: bold;
}

.commentDate {
  color:rgb(193, 193, 193);
  margin:10px 0;
}

.commentDescription{
  margin: 0;
  font-weight: bold;
  /* border: 1px white solid; */
  width: 910px;
}

.singleComment {
  display: flex;
  flex-direction: column;
}

.editFormBtn{
  display: flex;
  text-align: center;
}

.comment-edit{
  margin-right: 10px;
  border: solid 1px grey;
  width: 70px;
  padding: 1px;
  text-align: center;
  cursor: pointer;
}